    body {
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    #map {
        margin: 0 auto;
        height: 90vh;
        width: 95%;
        z-index: 4;
    }
    
    #maps {
        margin: 0 auto;
        height: 100vh;
        width: 95%;
        z-index: 4;
    }
    
    ul {
        position: absolute;
        margin-top: 10px;
        margin-left: 25vw;
        list-style-type: none;
    }
    
    li {
        margin-left: 5vw;
        display: inline-block;
        text-align: center;
        /*pour IE*/
    }
    
    .cal {
        position: absolute;
        list-style-type: none;
        margin-top: 0px;
        margin-left: inherit;
        left: 0;
    }
    
    .cal li {
        margin-left: 5vw;
    }
    
    #div_id {
        height: 84px;
        width: 112px;
        z-index: 5;
    }
    
    .info {
        margin: -0px auto;
        width: 95%;
        background-color: whitesmoke;
        height: 100px;
        z-index: 5;
    }
    
    .city {
        width: 7vw;
    }
    
    .some_id {
        position: absolute;
        text-align: center;
    }
    
    .info #toggle_fullscreen {
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: 160px;
        margin-left: 80vw;
    }
    
    #huey {
        height: 30px;
        width: 30px;
        position: absolute;
        margin-top: 100px;
        margin-left: 5.75vw;
        z-index: 5;
    }
    
    #i-creation {
        margin: 0 auto;
        height: 84px;
        width: 112px;
    }
    
    #wrapper {
        width: 750px;
        margin: 0 auto;
        height: 625px;
    }
    
    .slick-prev {
        height: 50px;
        width: 50px;
        left: -70px;
        transition: .3s;
    }
    
    .slick-prev:hover {
        opacity: 0.8;
        height: 45px;
        width: 45px;
    }
    
    .slick-next {
        height: 50px;
        width: 50px;
        right: -70px;
        transition: .3s;
    }
    
    .slick-next:hover {
        opacity: 0.8;
        height: 45px;
        width: 45px;
    }
    
    .counter {
        width: 100%;
        background: url('img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        text-align: center;
    }
    
    .con {
        border: white solid 1px;
        padding: 50px;
        color: white;
        font-size: 75px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .vidéo {
        text-align: center;
        height: 100vh;
    }
    
    .vidéo iframe {
        padding: 5px;
        margin-top: 45vh;
        /* poussé de la moitié de hauteur de viewport */
        transform: translateY(-50%);
    }
    
    .photo {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    
    .photo img {
        width: 90%;
        max-width: 90%;
    }
    
    .nasa {
        text-align: center;
        height: 100vh;
        width: 90%;
    }
    
    .nasa iframe {
        text-align: center;
        margin-top: 50vh;
        /* poussé de la moitié de hauteur de viewport */
        transform: translateY(-50%);
    }
    
    .button {
        font-size: 1em;
        padding: 10px;
        color: #333;
        border: 2px solid #333;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
        z-index: 50;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .button:hover {
        background: #333;
        color: blanchedalmond;
    }
    
    .overlay {
        z-index: 50;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }
    
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    
    .overlay iframe {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }
    
    .overlay a {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
        text-decoration: none;
        border: oldlace solid 1px;
        padding: 10px 25px 10px 25px;
        background-color: oldlace;
        border-radius: 20px;
    }
    
    #date {
        width: 100px;
    }