#map {
    margin: 0 auto;
    height: 500px;
    width: 800px;
}

#div_id {
    margin: 0 auto;
    height: 84px;
    width: 112px;
}

#div_id2 {
    margin: 0 auto;
    height: 84px;
    width: 112px;
}